<!DOCTYPE html>
<html th:fragment="layout (title, links, content, scripts)" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">Temp Title</title>
    <th:block th:replace="${links}" />
</head>
    <body>
        <div th:replace="~{templates/fragment/header :: header}">Temp Header</div>
        <div th:replace="${content}"></div>
        <div th:replqce="~{templates/fragemnt/footer :: footer}">Temp Footer</div>
        <th:block th:replace="${scripts}" />
    </body>
</html>