<!DOCTYPE html>
<html th:fragment="layout (title, link, content, script)" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:replace="${title}">Temp Title</title>
  <script src="js/jquery-3.6.0.min.js"></script>
  <th:block th:replace="${link}" />
</head>
<body>
<div th:replace="~{fragment/header :: header-nav-none}">Temp Header</div>
<div th:replace="${content}"></div>
<div th:replace="~{fragment/footer :: footer}">Temp Footer</div>
<th:block th:replace="${script}" />
</body>
</html>