<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <body>
        <footer th:fragment="footer">
            <div class="d-flex flex-column align-items-center">
                <div id="copyright">© 2022 Team Summer</div>
                <div>Contact Us</div>
                <div>
                    <button type="button" class="btn" data-bgcolor="#ffffff"><a href="https://github.com/chldbwlsss"><i class="icon-copy ion-social-octocat"></i> chldbwlsss</a></button>
                    <button type="button" class="btn" data-bgcolor="#ffffff"><a href="https://github.com/choadd"><i class="icon-copy ion-social-octocat"></i> choadd</a></button>
                    <button type="button" class="btn" data-bgcolor="#ffffff"><a href="https://github.com/hypercubist"><i class="icon-copy ion-social-octocat"></i> hypercubist</a></button>
                </div>
            </div>
        </footer>
    </body>
</html>