<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <body>
        <header th:fragment="header-nav-search">
            <div id="logo"></div>
            <nav>
                <form action=""></form>
            </nav>
            <div>menu</div>
        </header>

        <header th:fragment="header-nav-tab">
            <div id="logo"></div>
            <nav>
                <ul>
                    <li>tab1</li>
                </ul>
            </nav>
            <div>menu</div>
        </header>

        <header th:fragment="header-nav-none">
            <div id="logo"></div>
            <nav></nav>
            <div>menu</div>
        </header>
    </body>
</html>