<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <body>
        <header th:fragment="header-search-form">
            <div id="logo"></div>
            <div>
                <form action=""></form>
            </div>
            <div>menu</div>
        </header>

        <header th:fragment="header-category">
            <div id="logo"></div>
            <div>
                <ul>
                    <li>category1/li>
                </ul>
            </div>
            <div>menu</div>
        </header>
    </body>
</html>