<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

sender_no,receiver_no,content

        <input type="text" name="senderNo" id="sender">
        <input type="text"  name="receiverNo">
        <input type="text" name="content" placeholder="내용입력">
        <button id="button" type="submit">전송</button>

<div class="messageList">test</div>
    <script>
        $('#sender').on('change', function(){
            $.ajax({
                url : "/message/"+$('input[name=senderNo]').val(),
                type: "get"
            }).done(function(list){
                console.log(list);
                $('.messageList').html("보내는 날짜"+list[0].sendDate);
            });
        });
        $('#button').on('click', function(){
            $.ajax({
                url : "/message",
                type : "post",
                data : {
                    senderNo : $('input[name=senderNo]').val(),
                    receiverNo : $('input[name=receiverNo]').val(),
                    content : $('input[name=content]').val()
                }
            }).done(function(){
                console.log("추가 완료");
            });
        });
    </script>
</body>
</html>
