<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="bg-white border-radius-4 box-shadow mb-30">
    <div class="row no-gutters">
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="chat-list bg-light-gray">
                <div class="chat-search">
                    <span class="ti-search"></span>
                    <input type="text" placeholder="Search Contact">
                </div>
                <div class="notification-list chat-notification-list customscroll">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="vendors/images/img.jpg" alt="">
                                <h3 class="clearfix">John Doe</h3>
                                <p><i class="fa fa-circle text-light-green"></i> online</p>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">
                                <img src="vendors/images/img.jpg" alt="">
                                <h3 class="clearfix">John Doe</h3>
                                <p><i class="fa fa-circle text-light-green"></i> online</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- message other profile -->
        <div class="col-lg-9 col-md-8 col-sm-12">
            <div class="chat-detail">
                <div class="chat-profile-header clearfix">
                    <div class="left">
                        <div class="clearfix">
                            <div class="chat-profile-photo">
                                <img src="vendors/images/profile-photo.jpg" alt="">
                            </div>
                            <div class="chat-profile-name">
                                <h3>Rachel Curtis</h3>
                                <span>New York, USA</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-box">
                    <div class="chat-desc customscroll">
                        <ul>
                            <li class="clearfix admin_chat">
												<span class="chat-img">
													<img src="vendors/images/chat-img2.jpg" alt="">
												</span>
                                <div class="chat-body clearfix">
                                    <p>Maybe you already have additional info?</p>
                                    <div class="chat_time">09:40PM</div>
                                </div>
                            </li>
                            <li class="clearfix upload-file">
												<span class="chat-img">
													<img src="vendors/images/chat-img1.jpg" alt="">
												</span>
                                <div class="chat-body clearfix">
                                    <div class="upload-file-box clearfix">
                                        <div class="left">
                                            <img src="vendors/images/upload-file-img.jpg" alt="">
                                            <div class="overlay">
                                                <a href="#">
                                                    <span><i class="fa fa-angle-down"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <h3>Big room.jpg</h3>
                                            <a href="#">Download</a>
                                        </div>
                                    </div>
                                    <div class="chat_time">09:40PM</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="chat-footer">
                        <div class="file-upload"><a href="#"><i class="fa fa-paperclip"></i></a></div>
                        <div class="chat_text_area">
                            <textarea placeholder="Type your message…"></textarea>
                        </div>
                        <div class="chat_send">
                            <button class="btn btn-link" type="submit"><i class="icon-copy ion-paper-airplane"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

자신 프로필 번호는 세션에서 가져온다

<div>모든 메세지 리스트</div>
<th:block th:each="dto, index : ${dto}">
    <div th:object="${dto}">
        보낸 사람 : <button th:text="*{senderNo}" class="senderNo" th:attr="data-receiverno=*{receiverNo}, value=*{senderNo}"></button><br>
        받는 사람 : <button th:text="*{receiverNo}" class="receiverNo" th:attr="value=*{receiverNo}"></button><br>
        최근 받은 시간 : <div th:text="*{sendDate}"></div>
        <hr>
    </div>
</th:block>
<p>내게온 메세지</p>
<p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
<label><b>채팅방</b></label>
<div id="messageDetail"></div>

<input type="hidden" name="senderNo" id="sender">
<input type="hidden"  name="receiverNo">

<div class="container">
    <div class="col-6">
    </div>
    <div>
        <div id="msgArea" class="col"></div>
        <div class="col-6">
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <input type="text" name="content" id="msg" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2" placeholder="내용 입력">
                    <!--<input type="text" name="content" placeholder="내용입력" id="content">-->
                    <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                    <button id="disconn">연결해제</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
      console.log("ws://"+location.host+"/ws/chat");
            $(document).ready(function(){
            //세션에서 아이디 가져오기
            const username = '1번님';
            //연결 해제
            $("#disconn").on("click", (e) => {
                disconnect();
            })
            //전송 클릭
            $("#button-send").on("click", (e) => {
                send();
            });
            //추후 배포시 url 수정해야함
            const websocket = new WebSocket("ws://"+location.host+"/ws/chat");
            websocket.onmessage = onMessage;
            websocket.onopen = onOpen;
            websocket.onclose = onClose;
            //나가기
            function disconnect(){
                location.href="/message";
                websocket.send(username +":"+msg.value);
            }

            //보내기
            function send(){
                let msg = document.getElementById("msg");
                console.log(username + ":" + msg.value);
                websocket.send(username + ":" + msg.value);
                msg.value = '';
            }
            //채팅창에서 나갔을 때
            function onClose(evt) {
                var str = username + ": 님이 방을 나가셨습니다.";
//                websocket.send(str);
            }
            //채팅창에 들어왔을 때
            function onOpen(evt) {
                var str = username + ": 님이 입장하셨습니다.";
                websocket.send(str);
            }
            function onMessage(msg) {
                var data = msg.data;
                var sessionId = null;
                //데이터를 보낸 사람
                var message = null;
                var arr = data.split(":");
                for(var i=0; i<arr.length; i++){
                    console.log('arr[' + i + ']: ' + arr[i]);
                }
                var cur_session = username;
                //현재 세션에 로그인 한 사람
                console.log("cur_session : " + cur_session);
                sessionId = arr[0];
                message = arr[1];
                console.log("sessionID : " + sessionId);
                console.log("cur_session : " + cur_session);
                //로그인 한 클라이언트와 타 클라이언트를 분류하기 위함
                if(sessionId == cur_session){
                    var str += "<li class='clearfix admin_chat' id='msgArea'><span class='chat-img'><img src='vendors/images/chat-img2.jpg' alt=''></span>"
                    str += "<div class='chat-body clearfix'>"+message+"</div>";
                    str += "<div class='chat_time'>09:40PM</div></li>"
                    $("#msgArea").append(str);
                }
                else{
                    var str = "<div class='col-6'>";
                    str += "<div class='alert alert-warning'>";
                    str += sessionId + " : " + message;
                    str += "</div></div>";
                    $("#msgArea").append(str);
                }
            }
            })
        window.onload = function(){
        ws = new WebSocket("ws://"+"localhost:8100"+"/message");
        ws.onmessage = function(msg){
            var data = JSON.parse(msg.data);
        }
}
        $('.senderNo').on('click',function(){
            var senderInput ={
                'value' : $(this).val(),
                'readonly' : true
            };
            var receiverInput ={
                'value' : $(this).data('receiverno'),
                'readonly' : true
            };
            $('input[name=senderNo]').attr(senderInput);
            $('input[name=receiverNo]').attr(receiverInput);
            $.ajax({
                url : "/message/detail",
                type : "get",
                data : {
                    senderNo : $(this).val(),
                    receiverNo : $(this).data("receiverno")
                }
            }).done(function(list){
                console.log(list);
                $('#messageDetail').empty();
                for(var i =0; i<list.length;i++){
                //"<div>"+"보낸사람 : "+list[i].senderNo+"<br>" +list[i].content+"<br>"+"보낸날짜 : "+list[i].sendDate+"</div>
                   $('#messageDetail').append(list[i].senderNo+"번님 : "+list[i].content+"<br>");
                };
            });
        });

        $('#button-send').on('click', function(){
            $.ajax({
                url : "/message",
                type : "post",
                data : {
                    senderNo : $('input[name=senderNo]').val(),
                    receiverNo : $('input[name=receiverNo]').val(),
                    content : $('#msg').val()
                }
            }).done(function(){
                console.log("추가 완료");
            });
        });
    </script>
</body>
</html>
