<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>place-list</h1>
<div>
    <ul  th:each="place : ${placeList}">
        <li th:object="${place}">
            <div th:text="*{placeName}"></div>
            <div th:text="*{location}"></div>
            <div th:text="*{placeKind}"></div>
            <div th:text="*{rating}"></div>
            <div th:text="*{reviewCount}"></div>
            <div th:text="*{thumbnailUrl}"></div>
            <div th:text="*{price}"></div>
            <div th:text="*{totalPrice}"></div>
            <hr>
        </li>
    </ul>

</div>
</body>
</html>