<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:object="${place}">
<h1>place detail</h1>
<h2 th:text="|*{region1depth}의 *{name}|">region1depth의 place-name</h2>
<div th:text="*{rating}">평점</div>
<div th:text="|*{region1depth}, *{region2depth}, *{region3depth}|">광주광역시, 서구, 동천동</div>
<div th:each="url : ${imageUrls}">
    <div th:text="${url}">imageUrl</div>
</div>
<div th:text="|*{hostName}이 호스팅하는 *{placeKind}|">host-name이 호스팅하는 place-kind</div>
<div th:text="|최대인원*{maxGuest}명|">최대 인원 1명, 침실 1개, 침대 1개, 욕실 1개</div>
<div th:text="*{description}">장소 설명</div>
<div>편의시설</div>

<div>Reviews</div>
<div th:each="review : ${reviews}">
    <div th:text="${review.guest}"></div>
    <span th:text="|${#temporals.year(review.writingDate)}년|"></span>
    <span th:text="|${#temporals.month(review.writingDate)}월|"></span>
    <div th:text="${review.content}"></div>
</div>

<div th:each="bookedDate : ${bookedDates}">
    <div th:text="${#temporals.format(bookedDate.checkinDate, 'yyyy-MM-dd')}"></div>
    <div th:text="${#temporals.format(bookedDate.checkoutDate, 'yyyy-MM-dd')}"></div>
</div>



<script type="text/javascript" src="/js/daterangepicker/moment-with-locales.js"></script> //언어 파일

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</body>
</html>