<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:each="reservation : ${reservations}">
        <div th:object="${reservation}">
            <div th:text="*{checkinDate}"></div>
            <div th:text="*{checkoutDate}"></div>
            <div th:text="*{placeName}"></div>
            <div th:text="*{addressName}"></div>
            <div th:text="*{region1depth}"></div>
            <div th:text="*{region2depth}"></div>
            <div th:text="*{hostName}"></div>
            <div th:text="*{thumbnailUrl}"></div>
        </div>
    </th:block>
</body>
</html>