<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div id="curve_chart" style="width: 900px; height: 500px"></div>
<canvas id="myChart" width="400" height="400"></canvas>
<script>
const ctx = document.getElementById('myChart');
$.ajax({

}).done(function(rst){
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['hostNo', 'reservationCountToday', 'reservationCountTotal', 'incomeToday', 'incomeTotal', 'recordDate'],
            datasets: [{
                label: 'information',
                console.log(rst[0].hostNo),
                    data:  rst.data // [65, 59, 80, 81, 56, 40],

                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
});


</script>
</body>
</html>
