<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProfileUpdate</title>
</head>
<body>
    <h1>프로필 수정</h1>


    <form th:action th:object="${profileUpdateForm}" method="post" enctype="multipart/form-data">
        <div th:src="${profileImgUrl}">사진 업데이트하기</div>
            <input type="file" id="profileImg" name="profileImg">
        <div>
            <label for="name">이름</label>
            <input type="text" id="name" th:field="*{name}">
        </div>
        <div>
            <label for="email">이메일</label>
            <input type="text" id="email" th:field="*{email}">
        </div>
        <div>
            <label for="phoneNumber">핸드폰 번호</label>
            <input type="text" id="phoneNumber" th:field="*{phoneNumber}">
        </div>

        <input type="submit" value="완료">
    </form>

</body>
</html>