<!DOCTYPE html>
<html th:replace="~{layout/layout-search :: layout(~{::link}, ~{::title}, ~{::section}, ~{::script})}" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>HOME</title>
    <!--현재 페이지 제목을 위 라인에 입력-->
    <link rel="stylesheet" href="">
    <!--현재 페이지에서 단독으로 사용할 css 파일 링크를 위 라인에 입력, 링크 여러개 입력 가능-->
</head>
<body>
<section>
    <!--현재 페이지 본문 내용을 section내부에 작성-->
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="product-wrap">
            <div class="product-list">
<!--                <div class="card-box mb-30" style="position: relative">-->
<!--                    <img-->
<!--                            src="/img/home-background.jpg"-->
<!--                            alt=""-->
<!--                            style="width: 100%"-->
<!--                            class="rounded"-->
<!--                    />-->
<!--                    <img src="/img/pop_in_somewhere.png"-->
<!--                         alt=""-->
<!--                        style="position: absolute; bottom: 80px; left: 80px; z-index: 2; blur:10px; opacity:0.7;">-->
<!--                    <button-->
<!--                            id="btn-anywhere"-->
<!--                            class="btn btn-lg btn-light"-->
<!--                            style="position: absolute; bottom: 30px; right: 30px; z-index: 2"-->
<!--                    >-->
<!--                        어디로든 떠나기-->
<!--                    </button>-->
<!--                </div>-->
                <ul class="row">
                    <li class="col-lg-8 col-md-12 col-sm-12">
                        <div class="da-card box-shadow">
                            <div class="da-card-photo">
                                <img src="/img/home-background.jpg" alt="home-main-img">
                                <div class="da-overlay">
                                    <div class="da-social">
                                        <h3 class="color-white mb-30 pd-20">어디로든 떠나보기</h3>
                                        <ul class="clearfix pd-10">
                                            <li><a id="btn-anywhere" href="#"><i class="icon-copy ion-android-walk"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4 col-md-12 col-sm-12">
                        <div class="da-card box-shadow">
                            <div class="da-card-photo">
                                <img src="/img/hosting.jpg" alt="home-main-img">
                                <div class="da-overlay">
                                    <div class="da-social">
                                        <h3 class="color-white mb-30 pd-20">호스팅 하기</h3>
                                        <ul class="clearfix pd-10">
                                            <li><a id="btn-anywhere" href="/places/register"><i class="icon-copy fa fa-hotel" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4 col-md-6 col-sm-12">
                        <div class="product-box">
                            <div class="producct-img mb-10">
                                <img src="/img/seoul.jpg" alt="" />
                            </div>
                            <div class="pd-50 d-flex justify-content-center">
                                <div class="product-caption d-flex justify-content-center">
                                    <button id="btn-seoul" class="btn btn-lg btn-outline-dark">
                                        서울로 떠나기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4 col-md-6 col-sm-12">
                        <div class="product-box">
                            <div class="producct-img mb-10">
                                <img src="/img/jeju.jpg" alt="" />
                            </div>
                            <div class="product-caption d-flex justify-content-center">
                                <button id="btn-jeju" class="btn btn-lg btn-outline-dark">
                                    제주로 떠나기
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4 col-md-6 col-sm-12">
                        <div class="product-box">
                            <div class="producct-img mb-10">
                                <img src="/img/busan.jpg" alt="" />
                            </div>
                            <div class="product-caption d-flex justify-content-center">
                                <button id="btn-busan" class="btn btn-lg btn-outline-dark">
                                    부산으로 떠나기
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4 col-md-6 col-sm-12">
                        <div class="product-box">
                            <div class="producct-img mb-10">
                                <img src="/img/daejeon.png" alt="" />
                            </div>
                            <div class="product-caption d-flex justify-content-center">
                                <button id="btn-daejeon" class="btn btn-lg btn-outline-dark">
                                    대전으로 떠나기
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4 col-md-6 col-sm-12">
                        <div class="product-box">
                            <div class="producct-img mb-10">
                                <img src="/img/daegu.png" alt="" />
                            </div>
                            <div class="product-caption d-flex justify-content-center">
                                <button id="btn-daegu" class="btn btn-lg btn-outline-dark">
                                    대구로 떠나기
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4 col-md-6 col-sm-12">
                        <div class="product-box">
                            <div class="producct-img mb-10">
                                <img src="/img/gyeongju.jpg" alt="" />
                            </div>
                            <div class="product-caption d-flex justify-content-center">
                                <button id="btn-gyeongju" class="btn btn-lg btn-outline-dark">
                                    경주로 떠나기
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>
<script src="/js/home.js"></script>
<!--현재 페이지에서 단독으로 사용할 script파일 링크를 위 라인에 입력, 링크 여러개 입력 가능-->

</body>
</html>