<!DOCTYPE html>
<html th:replace="~{layout/layout-main :: layout(~{::link}, ~{::title}, ~{::section}, ~{::script})}" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>새로운 제목</title>
    <!--현재 페이지 제목을 위 라인에 입력-->
    <link rel="stylesheet" type="text/css" href="src/styles/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="src/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.css">
    <link rel="stylesheet" type="text/css" href="src/plugins/sweetalert2/sweetalert2.css">
    <!--현재 페이지에서 단독으로 사용할 css 파일 링크를 위 라인에 입력, 링크 여러개 입력 가능-->
</head>
<body>
<section>
    <!--현재 페이지 본문 내용을 section내부에 작성-->
</section>
<script src="src/scripts/moment.js"></script>
<script src="src/scripts/daterangepicker.min.js"></script>
<script src="src/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
<script src="vendors/scripts/advanced-components.js"></script>
<script src="js/layout.js"></script>
<!--현재 페이지에서 단독으로 사용할 script파일 링크를 위 라인에 입력, 링크 여러개 입력 가능-->
</body>
</html>