<!DOCTYPE html>
<html th:replace="~{layout/layout-main :: layout(~{::link}, ~{::title}, ~{::section}, ~{::script})}" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <title>관리자 페이지</title>
  <!--현재 페이지 제목을 위 라인에 입력-->
  <link rel="stylesheet" href="">
  <!--현재 페이지에서 단독으로 사용할 css 파일 링크를 위 라인에 입력, 링크 여러개 입력 가능-->
</head>
<body>
<section>
  <!--현재 페이지 본문 내용을 section내부에 작성-->
  <!--    <div th:text="|pending count : ${pendingCount}|"></div>-->

  <div>
    <div th:text="|total: ${memberCount.memberTotalCount}|"></div>
    <div th:text="|today: ${memberCount.todayJoinCount}|"></div>
  </div>

  <form th:action id="searchForm">
    <input type="text" name="searchTerm" placeholder="이름 또는 이메일 검색" th:value="${page.cri.searchTerm}">
    <select name="className">
      <option value="">회원등급</option>
      <th:block th:each="class : ${memberClass}">
        <option th:value="${class}" th:text="${class}" th:selected="${class} == ${page.cri.className}"></option>
      </th:block>
    </select>
    <input class="btn btn-primary" type="button" id="searchFormBtn" value="검색">
  </form>

  <form th:action id="criteria" th:object=${criteria} method="get">
    <input type="hidden" th:field="*{searchTerm}" th:value="${page.cri.searchTerm}">
    <input type="hidden" th:field="*{className}" th:value="${page.cri.className}">
    <input type="hidden" th:field="*{pageNum}" th:value="${page.cri.pageNum}">
    <input type="hidden" th:field="*{amount}" th:value="${page.cri.amount}">
  </form>

  <a href="/management">관리자 페이지 홈</a>

  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <div class="pd-20 card-box mb-30">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">회원번호</th>
            <th scope="col">이름</th>
            <th scope="col">이메일</th>
            <th scope="col">휴대폰번호</th>
            <th scope="col">회원구분</th>
            <th scope="col">가입일자</th>
            <th scope="col">회원탈퇴</th>
          </tr>
          </thead>
          <tbody>
            <th:block th:each="member, data : ${memberList}">
              <tr>
                <th scope="row" th:text="${data.count}"></th>
                <td th:text="${member.no}"></td>
                <td th:text="${member.name}"></td>
                <td th:text="${member.email}"></td>
                <td th:text="${member.phoneNumber}"></td>
                <td>
                  <a th:text="${member.memberClass}" th:href="@{/management/members/{memberNo}(memberNo=${member.no})}"></a>
                </td>
                <td th:text="${member.joinDate}"></td>
                <td>
                  <a th:href="@{/management/members/{memberNo}(memberNo=${member.no})}">❌</a>
                </td>
              </tr>
            </th:block>
          </tbody>
        </table>
        <div class="blog-pagination">
          <div class="btn-toolbar justify-content-center mb-15">
            <div class="btn-group">
              <a th:href="${page.startPage -1}" class="btn btn-outline-primary prev" th:if="${page.prev}"><i class="fa fa-angle-double-left"></i></a>
              <th:block th:each="num: ${#numbers.sequence(page.startPage, page.endPage)}" >
                <span th:if="${page.cri.pageNum}==${num}" th:text="${num}" class="btn btn-primary current"></span>
                <a th:if="${page.cri.pageNum}!=${num}" th:href="${num}" th:text="${num}" class="btn btn-outline-primary"></a>
              </th:block>
              <a th:href="${page.endPage +1}" class="btn btn-outline-primary next" th:if="${page.next}"><i class="fa fa-angle-double-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<script>
  $(function () {
    $(".blog-pagination a").on("click", function (e) {
      e.preventDefault();
      $("#criteria").find("input[name='pageNum']").val($(this).attr("href"));
      $("#criteria").submit();
    });
    $("#searchFormBtn").on("click", function(e){
      e.preventDefault();
      $("#criteria").find("input[name='pageNum']").val(1);
      $("#criteria").find("input[name='searchTerm']").val($("#searchForm").find("input[name='searchTerm']").val());
      $("#criteria").find("input[name='className']").val($("#searchForm").find("select[name='className']").val());
      $("#criteria").submit();
    });
  });

</script>
<!--현재 페이지에서 단독으로 사용할 script파일 링크를 위 라인에 입력, 링크 여러개 입력 가능-->
</body>
</html>