<!DOCTYPE html>
<html th:replace="~{layout/layout-main :: layout(~{::link}, ~{::title}, ~{::section}, ~{::script})}" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>관리자 페이지</title>
    <!--현재 페이지 제목을 위 라인에 입력-->
    <link rel="stylesheet" href="">
    <!--현재 페이지에서 단독으로 사용할 css 파일 링크를 위 라인에 입력, 링크 여러개 입력 가능-->
</head>
<body>
<section>
    <!--현재 페이지 본문 내용을 section내부에 작성-->
<!--    <div th:text="|pending count : ${pendingCount}|"></div>-->
    <div>
        <div th:text="|total: ${placeCount.placeTotalCount}|"></div>
        <div th:text="|pending: ${placeCount.placePendingCount}|"></div>
        <div th:text="|Activated: ${placeCount.placeActivatedCount}|"></div>
        <div th:text="|Deactivated: ${placeCount.placeDeactivatedCount}|"></div>
    </div>
    <div>
        <div th:text="|total: ${memberCount.memberTotalCount}|"></div>
        <div th:text="|today: ${memberCount.todayJoinCount}|"></div>
    </div>
    <div>
        <div th:text="|today: ${reservationCount.todayReservedCount}|"></div>
        <div th:text="|beforeCheckin: ${reservationCount.beforeCheckinCount}|"></div>
        <div th:text="|nowStaying: ${reservationCount.nowStayingCount}|"></div>
    </div>
    <a href="/management/places">숙소관리</a>
    <a href="/management/members">멤버관리</a>
    <a href="/management/reservations">예약관리</a>

</section>
<script></script>
<!--현재 페이지에서 단독으로 사용할 script파일 링크를 위 라인에 입력, 링크 여러개 입력 가능-->
</body>
</html>