<!DOCTYPE html>
<html th:replace="~{layout/layout-main :: layout(~{::link}, ~{::title}, ~{::section}, ~{::script})}" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>MEMBER-PROFILE</title>
    <!--현재 페이지 제목을 위 라인에 입력-->
    <link rel="stylesheet" href="">
    <!--현재 페이지에서 단독으로 사용할 css 파일 링크를 위 라인에 입력, 링크 여러개 입력 가능-->
</head>
<body>
<section>
    <div class="pd-ltr-20 xs-pd-20-10" th:object="${memberProfile}">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
                <div class="pd-20 card-box height-100-p">
                    <div class="profile-photo pt-30">
                        <img
                                th:src="${profileImgUrl}"
                                alt=""
                                class="avatar-photo"
                        />
                    </div>
                    <i
                            class="icon-copy ion-android-done-all"
                            style="font-size: 1.5rem"
                    ></i>
                    <div style="font-weight: 900; font-size: 1.3rem">본인 인증</div>
                    <div class="pt-10 pb-30">
                        본인 인증 배지를 통해 본인 인증을 마쳤다는 사실을 다른 사용자에게
                        보여줄 수 있습니다.
                    </div>
                    <div class="profile-info">
                        <h5 class="mb-20 h5 text-black" style="font-size: 1.5rem" th:text="|*{name} 인증 완료|">
                        </h5>
                        <div th:if="*{emailCertificated == 1}">
                            <i
                                    class="icon-copy ion-checkmark-round"
                                    style="font-size: 1.3rem"
                            ></i>
                            <span class="pl-10" style="font-size: 1.1rem">이메일</span>
                        </div>
                        <div th:if="*{phoneCertificated == 1}">
                            <i
                                    class="icon-copy ion-checkmark-round"
                                    style="font-size: 1.3rem"
                            ></i>
                            <span class="pl-10" style="font-size: 1.1rem">전화번호</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
                <div class="card-box height-100-p overflow-hidden">
                    <div class="height-100-p overflow-hidden">
                        <div class="pd-20 tab height-100-p">
                            <div class="pd-20">
                                <h2 class="pt-10" th:text="|안녕하세요. 저는 *{name} 입니다!|"></h2>
                                <div class="pt-10 pb-10" th:text="|회원 가입: *{joinYear}|"></div>
                                <div
                                        class="pt-20 pb-20"
                                        style="font-size: 1.5rem; font-weight: 600"
                                >
                                    소개
                                </div>
                                <div th:text="*{introduction}" th:if="*{introduction != null}"></div>
                            </div>
                            <hr />
                            <div class="pd-20">
                                <h5 class="pb-20" style="font-size: 1.5rem" th:text="|${memberProfile.name}님의 숙소|">
                                </h5>
                                <div class="row clearfix">
                                    <th:block th:each="hostPlace : ${hostPlaces}">
                                        <div class="col-lg-3 col-md-4 col-sm-6 mb-10" th:object="${hostPlace}">
                                            <div class="da-card">
                                                <div class="da-card-photo">
                                                    <a th:href="@{|/places/*{placeNo}|}">
                                                        <img th:src="*{thumbnailUrl}" alt="숙소 썸네일" />
                                                    </a>
                                                </div>
                                                <div class="da-card-content">
                                                    <div class="pb-30" style="font-size: 1.1rem" th:text="*{placeName}"></div>
                                                    <p class="mb-0"
                                                       style="display:inline-block"
                                                       th:text="*{region1depth}"></p>
                                                    <p class="mb-0"
                                                       style="display:inline-block"
                                                       th:text="|,*{region2depth}|"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--현재 페이지 본문 내용을 section내부에 작성-->
</section>
<script></script>
<!--현재 페이지에서 단독으로 사용할 script파일 링크를 위 라인에 입력, 링크 여러개 입력 가능-->
</body>
</html>