<!DOCTYPE html>
<html th:replace="~{layout/layout-main :: layout(~{::link}, ~{::title}, ~{::section}, ~{::script})}" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>MY-PLACES</title>
    <!--현재 페이지 제목을 위 라인에 입력-->
    <link rel="stylesheet" href="">
    <!--현재 페이지에서 단독으로 사용할 css 파일 링크를 위 라인에 입력, 링크 여러개 입력 가능-->
</head>
<body>
<section>
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="pd-30 bg-white border-radius-4 box-shadow mb-30">
            <h3 class="pt-30">내가 호스팅 하는 장소</h3>

            <div class="tab pt-30">
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                        <a
                                class="nav-link active text-blue"
                                data-toggle="tab"
                                href="#open"
                                role="tab"
                                aria-selected="true"
                        >운영중</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                                class="nav-link text-blue"
                                data-toggle="tab"
                                href="#closed"
                                role="tab"
                                aria-selected="false"
                        >운영 중지</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                                class="nav-link text-blue"
                                data-toggle="tab"
                                href="#pending"
                                role="tab"
                                aria-selected="false"
                        >심사중</a
                        >
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="open" role="tabpanel">
                        <div class="pd-20 row">
                            <th:block th:each="myPlace : ${myPlaces}">
                                <th:block th:if="${myPlace.placeStatus} == 2">
                                    <div class="col-lg-3 col-md-4 col-sm-6 mb-30" th:object="${myPlace}">
                                        <div class="da-card">
                                            <div class="da-card-photo">
                                                <a th:href="@{|/places/*{placeNo}|}">
                                                    <img th:src="*{thumbnailUrl}" alt="place_thumbnail" />
                                                </a>
                                            </div>
                                            <div class="da-card-content">
                                                <h5 class="h5 mb-10" th:text="*{placeName}" >해가 잘드는 집</h5>
                                                <p class="mb-0" th:text="|*{region1depth}, *{region2depth}|">광주광역시, 서구</p>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="closed" role="tabpanel">
                        <div class="pd-20 row">
                            <th:block th:each="myPlace : ${myPlaces}">
                                <th:block th:if="${myPlace.placeStatus} == 3">
                                    <div class="col-lg-3 col-md-4 col-sm-6 mb-30" th:object="${myPlace}">
                                        <div class="da-card">
                                            <div class="da-card-photo">
                                                <a th:href="@{|/places/*{placeNo}|}">
                                                    <img th:src="*{thumbnailUrl}" alt="place_thumbnail" />
                                                </a>
                                            </div>
                                            <div class="da-card-content">
                                                <h5 class="h5 mb-10" th:text="*{placeName}" >해가 잘드는 집</h5>
                                                <p class="mb-0" th:text="|*{region1depth}, *{region2depth}|">광주광역시, 서구</p>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pending" role="tabpanel">
                        <div class="pd-20 row">
                            <th:block th:each="myPlace : ${myPlaces}">
                                <th:block th:if="${myPlace.placeStatus} == 0">
                                    <div class="col-lg-3 col-md-4 col-sm-6 mb-30" th:object="${myPlace}">
                                        <div class="da-card">
                                            <div class="da-card-photo">
                                                <a th:href="@{|/places/*{placeNo}|}">
                                                    <img th:src="*{thumbnailUrl}" alt="place_thumbnail" />
                                                </a>
                                            </div>
                                            <div class="da-card-content">
                                                <h5 class="h5 mb-10" th:text="*{placeName}" >해가 잘드는 집</h5>
                                                <p class="mb-0" th:text="|*{region1depth}, *{region2depth}|">광주광역시, 서구</p>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--현재 페이지 본문 내용을 section내부에 작성-->
</section>
<script></script>
<!--현재 페이지에서 단독으로 사용할 script파일 링크를 위 라인에 입력, 링크 여러개 입력 가능-->
</body>
</html>