<!DOCTYPE html>
<html th:replace="~{layout/layout-main :: layout(~{::link}, ~{::title}, ~{::section}, ~{::script})}" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>PLACE-REGISTER</title>
    <!--현재 페이지 제목을 위 라인에 입력-->
    <link
            rel="stylesheet"
            type="text/css"
            href="src/plugins/jquery-steps/jquery.steps.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="src/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.css"
    />
    <link rel="stylesheet" type="text/css" href="src/plugins/dropzone/src/dropzone.css">
    <!--현재 페이지에서 단독으로 사용할 css 파일 링크를 위 라인에 입력, 링크 여러개 입력 가능-->
</head>
<body>
<section>
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <h4 class="text-blue h4">장소 등록</h4>
                    <p class="mb-30">당신의 장소를 공유해주세요.</p>
                </div>
                <div class="wizard-content">
                    <form class="tab-wizard wizard-circle wizard" th:action th:object="${registerForm}" method="post" enctype="multipart/form-data">
                        <div th:if="${#fields.hasGlobalErrors()}">
                            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                               th:text="${err}">글로벌 오류 메시지</p>
                        </div>
                        <h5>이름 및 주소</h5>
                        <section>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="placeName">이름</label>
                                        <input
                                                type="text"
                                                class="form-control"
                                                th:errorclass="field-error"
                                                placeholder="호스팅할 장소의 이름을 작성해주세요"
                                                th:field="*{placeName}"
                                        />
                                        <div class="field-error" th:errors="*{placeName}"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="placeKindCode">장소 종류</label>
                                        <select class="custom-select form-control" th:field="*{placeKindCode}" th:errorclass="field-error">
                                            <option selected value="">장소의 종류를 선택해주세요</option>
                                            <th:block th:each="placeKind : ${placeKinds}">
                                                <option th:value="${placeKind.no}" th:text="${placeKind.kind}"></option>
                                            </th:block>
                                        </select>
                                        <div class="field-error" th:errors="*{placeKindCode}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="maxGuest">최대 인원</label>
                                        <input
                                                type="text"
                                                th:field="*{maxGuest}"
                                                th:errorclass="field-error"
                                        />
                                        <div class="field-error" th:errors="*{maxGuest}"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>주소</label>
                                        <input
                                                th:field="*{addressName}"
                                                type="text"
                                                class="form-control"
                                                th:errorclass="field-error"
                                                onclick="addressSearch()"
                                                placeholder="클릭하여 주소 찾기"
                                                readonly
                                        />
                                        <div class="field-error" th:errors="*{addressName}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div id="map" style="width: 800px; height: 480px"></div>
                            </div>
                        </section>
                        <!-- Step 2 -->
                        <h5>사진 업로드</h5>
                        <section>
                            <div class="row">
                                <div class="col-md-4 col-sm-12"><div class="clearfix mb-20">
                                    <div class="pull-left">
                                        <h5 class="h5">대표사진을 등록해주세요</h5>
                                    </div>
                                </div>
                                <div class="dropzone" action="#" id="my-awesome-dropzone">
                                    <div class="fallback">
                                        <input type="file" id="placeThumbnail" name="placeThumbnail">
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-12"><div class="clearfix mb-20">
                                    <div class="pull-left">
                                        <h5 class="h5">호스팅 장소를 잘 표현할 수 있는 사진을 등록해주세요(3장 이상)</h5>
                                    </div>
                                </div>
                                <div class="dropzone" action="#" id="my-awesome-dropzone">
                                    <div class="fallback">
                                        <input type="file" multiple="multiple" id="imageFiles" name="imageFiles">
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Step 3 -->
                        <h5>상세 옵션 선택</h5>
                        <section>
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label for="roomCount">방</label>
                                        <input
                                                type="text"
                                                th:field="*{roomCount}"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label for="bathroomCount">화장실</label>
                                        <input
                                                type="text"
                                                th:field="*{bathroomCount}"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label for="bedSingle">침대(싱글)</label>
                                        <input
                                                type="text"
                                                th:field="*{bedSingle}"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label for="bedDouble">침대(더블)</label>
                                        <input
                                                type="text"
                                                th:field="*{bedDouble}"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label for="bedQueen">침대(퀸)</label>
                                        <input
                                                type="text"
                                                th:field="*{bedQueen}"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label for="bedKing">침대(킹)</label>
                                        <input
                                                type="text"
                                                th:field="*{bedKing}"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label for="kitchen">주방</label>
                                        <input
                                                type="text"
                                                th:field="*{kitchen}"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label for="parking">주차공간</label>
                                        <input
                                                type="text"
                                                th:field="*{parking}"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label for="wifi">와이파이</label>
                                        <input
                                                type="text"
                                                th:field="*{wifi}"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label for="balcony">발코니</label>
                                        <input
                                                type="text"
                                                th:field="*{balcony}"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label for="pool">수영장</label>
                                        <input
                                                type="text"
                                                th:field="*{pool}"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label for="airConditioner">에어컨</label>
                                        <input
                                                type="text"
                                                th:field="*{airConditioner}"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label for="bathtub">욕조</label>
                                        <input
                                                type="text"
                                                th:field="*{bathtub}"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label for="crib">아기 침대</label>
                                        <input
                                                type="text"
                                                th:field="*{crib}"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label for="tv">TV</label>
                                        <input
                                                type="text"
                                                th:field="*{tv}"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label for="coffeeMachine">커피머신</label>
                                        <input
                                                type="text"
                                                th:field="*{coffeeMachine}"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label for="pc">PC</label>
                                        <input
                                                type="text"
                                                th:field="*{pc}"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label for="blackBoard">칠판</label>
                                        <input
                                                type="text"
                                                th:field="*{blackBoard}"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label for="beamProject">빔프로젝트</label>
                                        <input
                                                type="text"
                                                th:field="*{beamProject}"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label for="balloon">풍선</label>
                                        <input
                                                type="text"
                                                th:field="*{balloon}"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label for="diningTable">식탁</label>
                                        <input
                                                type="text"
                                                th:field="*{diningTable}"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label for="lamp">램프</label>
                                        <input
                                                type="text"
                                                th:field="*{lamp}"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label for="kitchenTools">주방 도구</label>
                                        <input
                                                type="text"
                                                th:field="*{kitchenTools}"
                                        />
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Step 4 -->
                        <h5>설명 및 가격</h5>
                        <section>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="checkinTimeStart">체크인 시간(시작)</label>
                                        <select th:field="*{checkinTimeStart}" th:errorclass="field-error" class="form-control">
                                            <option selected value="">체크인 시작 시간</option>
                                            <th:block th:each="num: ${#numbers.sequence(0,23)}">
                                                <option th:text="|${num}시|" th:value="${num}"></option>
                                            </th:block>
                                        </select>
                                        <div class="field-error" th:errors="*{checkinTimeStart}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="checkinTimeEnd">체크인 시간(마감)</label>
                                        <select th:field="*{checkinTimeEnd}" th:errorclass="field-error" class="form-control">
                                            <option selected value="">체크인 시작 시간</option>
                                            <th:block th:each="num: ${#numbers.sequence(0,23)}">
                                                <option th:text="|${num}시|" th:value="${num}"></option>
                                            </th:block>
                                        </select>
                                        <div class="field-error" th:errors="*{checkinTimeEnd}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="checkoutTimeStart">체크아웃 시간(시작)</label>
                                        <select th:field="*{checkoutTimeStart}" th:errorclass="field-error" class="form-control">
                                            <option selected value="">체크인 시작 시간</option>
                                            <th:block th:each="num: ${#numbers.sequence(0,23)}">
                                                <option th:text="|${num}시|" th:value="${num}"></option>
                                            </th:block>
                                        </select>
                                        <div class="field-error" th:errors="*{checkoutTimeStart}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="checkoutTimeEnd">체크아웃 시간(마감)</label>
                                        <select th:field="*{checkoutTimeEnd}" th:errorclass="field-error" class="form-control">
                                            <option selected value="">체크인 시작 시간</option>
                                            <th:block th:each="num: ${#numbers.sequence(0,23)}">
                                                <option th:text="|${num}시|" th:value="${num}"></option>
                                            </th:block>
                                        </select>
                                        <div class="field-error" th:errors="*{checkoutTimeEnd}"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="description">호스트 설명 및 주의사항(20자 이상 2000자 이내)</label>
                                        <textarea class="form-control"
                                                  th:field="*{description}"
                                                  th:errorclass="field-error">
                                        </textarea>
                                        <div class="field-error" th:errors="*{description}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="priceHigh">이용가격</label>
                                        <input
                                                type="text"
                                                class="form-control"
                                                th:field="*{priceHigh}"
                                                th:errorclass="field-error"
                                                placeholder="1박 당 가격 (원)"
                                        />
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="mb-30 d-flex justify-content-end">
                            <button type="submit" class="btn btn-secondary btn-lg">
                                저장
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- success Popup html Start -->
            <div
                    class="modal fade"
                    id="success-modal"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true"
            >
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center font-18">
                            <h3 class="mb-20">축하합니다.</h3>
                            <div class="mb-30 text-center">
                                <img src="vendors/images/success.png" />
                            </div>
                            등록이 완료되었습니다!
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button
                                    type="button"
                                    class="btn btn-primary"
                                    data-dismiss="modal"
                            >
                                Done
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- success Popup html End -->
        </div>

    </div>
    <!--현재 페이지 본문 내용을 section내부에 작성-->
</section>
<script src="src/plugins/jquery-steps/jquery.steps.js"></script>
<script src="vendors/scripts/steps-setting.js"></script>
<script src="src/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
<script src="vendors/scripts/advanced-components.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:inline="javascript" type="text/javascript" th:attr="src=${kakaoMapsSource}"></script>
<script src="js/place-register.js"></script>
<script src="src/plugins/dropzone/src/dropzone.js"></script>

<!--현재 페이지에서 단독으로 사용할 script파일 링크를 위 라인에 입력, 링크 여러개 입력 가능-->
</body>
</html>