<!DOCTYPE html>
<html th:replace="~{layout/layout-main :: layout(~{::link}, ~{::title}, ~{::section}, ~{::script})}" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>PLACE-REGISTER</title>
    <!--현재 페이지 제목을 위 라인에 입력-->
    <link
            rel="stylesheet"
            type="text/css"
            href="/src/plugins/jquery-steps/jquery.steps.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="/src/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.css"
    />
    <link rel="stylesheet" type="text/css" href="/src/plugins/dropzone/src/dropzone.css">
    <!--현재 페이지에서 단독으로 사용할 css 파일 링크를 위 라인에 입력, 링크 여러개 입력 가능-->
</head>
<body>
<section>
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <h4 class="text-blue h4">장소 등록</h4>
                    <p class="mb-30">당신의 장소를 공유해주세요.</p>
                </div>
                <div class="wizard-content">
                    <form class="tab-wizard wizard-circle wizard" th:action th:object="${registerForm}" method="post" enctype="multipart/form-data" id="registerForm">
                        <div th:if="${#fields.hasGlobalErrors()}">
                            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                               th:text="${err}">글로벌 오류 메시지</p>
                        </div>
                        <h5>이름 및 주소</h5>
                        <section>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="placeName">이름</label>
                                        <input
                                                type="text"
                                                class="form-control"
                                                th:errorclass="field-error"
                                                placeholder="호스팅할 장소의 이름을 작성해주세요"
                                                th:field="*{placeName}"
                                        />
                                        <div class="field-error" th:errors="*{placeName}"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="placeKindCode">장소 종류</label>
                                        <select class="custom-select form-control" th:field="*{placeKindCode}" th:errorclass="field-error">
                                            <option selected value="">장소의 종류를 선택해주세요</option>
                                            <th:block th:each="placeKind : ${placeKinds}">
                                                <option th:value="${placeKind.no}" th:text="${placeKind.kind}"></option>
                                            </th:block>
                                        </select>
                                        <div class="field-error" th:errors="*{placeKindCode}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>최대 인원</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="maxGuest"
                                        />
                                        <div class="field-error" th:errors="*{maxGuest}"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>주소</label>
                                        <input
                                                th:field="*{addressName}"
                                                type="text"
                                                class="form-control"
                                                th:errorclass="field-error"
                                                onclick="addressSearch()"
                                                placeholder="클릭하여 주소 찾기"
                                                readonly
                                        />
                                        <div class="field-error" th:errors="*{addressName}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div id="map" style="width: 800px; height: 480px"></div>
                            </div>
                        </section>
                        <!-- Step 2 -->
                        <h5>사진 업로드</h5>
                        <section>
                            <div class="form-group">
                                <h5 class="h5 pt-20">대표사진을 등록해주세요</h5>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="placeThumbnail" name="placeThumbnail"/>
                                    <label class="custom-file-label">Choose file</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <h5 class="h5 pt-20">호스팅 장소를 잘 표현할 수 있는 사진을 등록해주세요(3장 이상)</h5>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" multiple="multiple" id="imageFiles" name="imageFiles"/>
                                    <label class="custom-file-label">Choose file</label>
                                </div>
                            </div>
                        </section>
                        <!-- Step 3 -->
                        <h5>상세 옵션 선택</h5>
                        <section>
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label>방</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="roomCount"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label>화장실</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="bathroomCount"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label>침대(싱글)</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="bedSingle"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label>침대(더블)</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="bedDouble"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label>침대(퀸)</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="bedQueen"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label>침대(킹)</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="bedKing"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label>주방</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="kitchen"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label>주차공간</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="parking"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label>와이파이</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="wifi"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label>발코니</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="balcony"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label>수영장</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="pool"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label>에어컨</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="airConditioner"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label>욕조</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="bathtub"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label>아기 침대</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="crib"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label>TV</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="tv"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label>커피머신</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="coffeeMachine"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label>PC</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="pc"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label>칠판</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="blackBoard"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label>빔프로젝트</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="beamProject"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label>풍선</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="balloon"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label>식탁</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="diningTable"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label>램프</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="lamp"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label>주방 도구</label>
                                        <input
                                                id="demo3_22"
                                                type="text"
                                                value="0"
                                                name="demo3_22"
                                                data-kind="kitchenTools"
                                        />
                                    </div>
                                </div>

                            </div>
                        </section>
                        <!-- Step 4 -->
                        <h5>설명 및 가격</h5>
                        <section>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="checkinTimeStart">체크인 시간(시작)</label>
                                        <select th:field="*{checkinTimeStart}" th:errorclass="field-error" class="form-control">
                                            <option selected value="">체크인 시작 시간</option>
                                            <th:block th:each="num: ${#numbers.sequence(0,23)}">
                                                <option th:text="|${num}시|" th:value="${num}"></option>
                                            </th:block>
                                        </select>
                                        <div class="field-error" th:errors="*{checkinTimeStart}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="checkinTimeEnd">체크인 시간(마감)</label>
                                        <select th:field="*{checkinTimeEnd}" th:errorclass="field-error" class="form-control">
                                            <option selected value="">체크인 시작 시간</option>
                                            <th:block th:each="num: ${#numbers.sequence(0,23)}">
                                                <option th:text="|${num}시|" th:value="${num}"></option>
                                            </th:block>
                                        </select>
                                        <div class="field-error" th:errors="*{checkinTimeEnd}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="checkoutTimeStart">체크아웃 시간(시작)</label>
                                        <select th:field="*{checkoutTimeStart}" th:errorclass="field-error" class="form-control">
                                            <option selected value="">체크인 시작 시간</option>
                                            <th:block th:each="num: ${#numbers.sequence(0,23)}">
                                                <option th:text="|${num}시|" th:value="${num}"></option>
                                            </th:block>
                                        </select>
                                        <div class="field-error" th:errors="*{checkoutTimeStart}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="checkoutTimeEnd">체크아웃 시간(마감)</label>
                                        <select th:field="*{checkoutTimeEnd}" th:errorclass="field-error" class="form-control">
                                            <option selected value="">체크인 시작 시간</option>
                                            <th:block th:each="num: ${#numbers.sequence(0,23)}">
                                                <option th:text="|${num}시|" th:value="${num}"></option>
                                            </th:block>
                                        </select>
                                        <div class="field-error" th:errors="*{checkoutTimeEnd}"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="description">호스트 설명 및 주의사항(20자 이상 2000자 이내)</label>
                                        <textarea class="form-control"
                                                  th:field="*{description}"
                                                  th:errorclass="field-error">
                                        </textarea>
                                        <div class="field-error" th:errors="*{description}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="priceHigh">이용가격</label>
                                        <input
                                                type="text"
                                                class="form-control"
                                                th:field="*{priceHigh}"
                                                th:errorclass="field-error"
                                                placeholder="1박 당 가격 (원)"
                                        />
                                    </div>
                                </div>
                            </div>
                        </section>
                        <input type="hidden" th:field="*{maxGuest}">
                        <input type="hidden" th:field="*{roomCount}">
                        <input type="hidden" th:field="*{bathroomCount}">
                        <input type="hidden" th:field="*{bedSingle}">
                        <input type="hidden" th:field="*{bedDouble}">
                        <input type="hidden" th:field="*{bedQueen}">
                        <input type="hidden" th:field="*{bedKing}">
                        <input type="hidden" th:field="*{kitchen}">
                        <input type="hidden" th:field="*{parking}">
                        <input type="hidden" th:field="*{wifi}">
                        <input type="hidden" th:field="*{balcony}">
                        <input type="hidden" th:field="*{pool}">
                        <input type="hidden" th:field="*{airConditioner}">
                        <input type="hidden" th:field="*{bathtub}">
                        <input type="hidden" th:field="*{crib}">
                        <input type="hidden" th:field="*{tv}">
                        <input type="hidden" th:field="*{coffeeMachine}">
                        <input type="hidden" th:field="*{pc}">
                        <input type="hidden" th:field="*{blackBoard}">
                        <input type="hidden" th:field="*{beamProject}">
                        <input type="hidden" th:field="*{balloon}">
                        <input type="hidden" th:field="*{diningTable}">
                        <input type="hidden" th:field="*{lamp}">
                        <input type="hidden" th:field="*{kitchenTools}">
                        <input type="hidden" th:field="*{coordX}">
                        <input type="hidden" th:field="*{coordY}">
                    </form>
                </div>
            </div>

            <!-- success Popup html Start -->
            <div
                    class="modal fade"
                    id="success-modal"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true"
            >
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center font-18">
                            <h3 class="mb-20">축하합니다.</h3>
                            <div class="mb-30 text-center">
                                <img src="/vendors/images/success.png" />
                            </div>
                            등록이 완료되었습니다!
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button
                                    type="button"
                                    class="btn btn-primary"
                                    data-dismiss="modal"
                                    id="registerFormSubmitButton"
                            >
                                Done
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- success Popup html End -->
        </div>

    </div>
    <!--현재 페이지 본문 내용을 section내부에 작성-->
</section>
<script src="/src/plugins/jquery-steps/jquery.steps.js"></script>
<script src="/vendors/scripts/steps-setting.js"></script>
<script src="/src/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
<script src="/vendors/scripts/advanced-components.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:inline="javascript" type="text/javascript" th:attr="src=${kakaoMapsSource}"></script>
<script src="/js/place-register.js"></script>
<script>
    $(function () {
        $("input[name='demo3_22']").on("change", function() {
          const selectedClassName = $(this).attr("data-kind");
          const selectedClassValue = $(this).val();
          $("input").each(function () {
            if (selectedClassName == $(this).attr("name")) {
              $(this).val(selectedClassValue);
            }
          });
        });

        $("#registerFormSubmitButton").on("click", function() {
            $("#registerForm").submit();
        })
      });
</script>
<!--현재 페이지에서 단독으로 사용할 script파일 링크를 위 라인에 입력, 링크 여러개 입력 가능-->
</body>
</html>