<!DOCTYPE html>
<html th:replace="~{layout/layout-main :: layout(~{::link}, ~{::title}, ~{::section}, ~{::script})}" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <title>RESERVATION-DETAIL</title>
  <!--현재 페이지 제목을 위 라인에 입력-->
  <link rel="stylesheet" type="text/css" href="src/plugins/slick/slick.css" />
  <link rel="stylesheet" href="css/place-detail.css">
  <!--현재 페이지에서 단독으로 사용할 css 파일 링크를 위 라인에 입력, 링크 여러개 입력 가능-->
</head>
<body>
<section>
  <!--현재 페이지 본문 내용을 section내부에 작성-->
  <div class="pd-ltr-20 xs-pd-10-20">
    <div class="min-height-200px">
      <div class="product-wrap">
        <div class="product-detail-wrap mb-30">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="product-slider slider-arrow">
                <div class="product-slide">
                  <img src="vendors/images/product-img1.jpg" alt="" />
                </div>
                <div class="product-slide">
                  <img src="vendors/images/product-img2.jpg" alt="" />
                </div>
                <div class="product-slide">
                  <img src="vendors/images/product-img3.jpg" alt="" />
                </div>
                <div class="product-slide">
                  <img src="vendors/images/product-img4.jpg" alt="" />
                </div>
              </div>
              <div class="product-slider-nav">
                <div class="product-slide-nav">
                  <img src="vendors/images/product-img1.jpg" alt="" />
                </div>
                <div class="product-slide-nav">
                  <img src="vendors/images/product-img2.jpg" alt="" />
                </div>
                <div class="product-slide-nav">
                  <img src="vendors/images/product-img3.jpg" alt="" />
                </div>
                <div class="product-slide-nav">
                  <img src="vendors/images/product-img4.jpg" alt="" />
                </div>
              </div>
              <div class="product-detail-desc pd-30 mt-30 card-box">
                <div class="pt-20 pb-10">
                  <div class="d-flex">
                    <div>
                      <img
                              class="rounded"
                              src="vendors/images/photo4.jpg"
                              alt=""
                              style="width: 60px"
                      />
                    </div>

                    <div class="pl-20">
                      <div style="font-size: 1.5rem; font-weight: 600">
                        호스트: GOODHOST님
                      </div>
                      <span>회원가입일: 2020년 1월</span>
                    </div>
                  </div>

                  <div class="pt-20">
                    <div style="font-weight: 600">호스트 소개</div>
                    <p>
                      서로의 마음을 어둠 밖으로 한 뼘 한 뼘씩 옮기며 빛나는
                      별들처럼 우린 그때 같이 있었다.
                    </p>
                  </div>
                </div>
              </div>

              <div class="product-detail-desc pd-30 mt-30 mb-30 card-box">
                <div
                        class="pt-20"
                        style="font-size: 1.5rem; font-weight: 600"
                >
                  장소 안내
                </div>
                <div class="row pt-20 pb-10">
                  <div class="col-md-6 col-sm-12">
                    <div style="font-weight: 600">체크인</div>
                    <div>2022년 5월 3일 (화)</div>
                    <div>오후 3:00</div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div style="font-weight: 600">체크아웃</div>
                    <div>2022년 5월 3일 (화)</div>
                    <div>오후 3:00</div>
                  </div>
                </div>
                <hr />
                <div class="pt-20 pb-10">
                  <div style="font-weight: 600">주소</div>
                  <div>광주 서구 상무중앙로78번길 5-6</div>
                </div>
                <hr />
                <div class="pt-20 pb-10">
                  <div style="font-weight: 600">안내 및 주의사항</div>
                  <p>
                    AHHA는 객실이 4개로 구성되어있는 펜션입니다. 1층 (01,02호)
                    은 약17평형 스튜디오 타입이고, 2층(03,04호)은 약 18평형+
                    복층타입 객실입니다. 기준인원 이상 예약은 불가합니다. 꼭
                    지켜주세요. 수영장은 공용 공간으로 6~9월까지 운영하며
                    오전9:00~오후8:00까지 사용할 수 있습니다. (혹시모를 사고를
                    대비해 외부에 cctv를 설치하였습니다. ) 조식은 제공해드리지
                    않습니다. (컵라면2개 제공)
                  </p>
                  <p>
                    객실에 드립백커피와 티,생수를 비치해두었고
                    전기포트,토스터,전자렌지,전기쿡탑을 준비해두었습니다. 시골
                    특성상 벌레가 유입될 수 있다는점 참고하셔서 예약
                    부탁드립니다. (이로 인한 환불은 불가합니다) 2박숙박시엔
                    청소,수건 이불 교체가 제공되지 않습니다.
                    화장실,샤워실,세면대공간이 분리되어있습니다.
                    샴푸,컨디셔너,샤워젤,비누 어메니티와 드라이어가
                    준비되어있고 치약,칫솔은 제공하지 않습니다.
                  </p>
                </div>
              </div>

              <div class="product-detail-desc pd-30 mt-30 mb-30 card-box">
                <div
                        class="pt-20"
                        style="font-size: 1.5rem; font-weight: 600"
                >
                  예약 및 결제 정보
                </div>
                <div class="pt-20 pb-10">
                  <div style="font-weight: 600">게스트</div>
                  <div>게스트 2명</div>
                </div>
                <hr />
                <div class="pt-20 pb-10">
                  <div style="font-weight: 600">예약 번호</div>
                  <div>HMRTW4BRTR</div>
                </div>
                <hr />
                <div class="pt-20 pb-10">
                  <div style="font-weight: 600">총 비용</div>
                  <div>254,743원</div>
                </div>
                <hr />
                <div class="pt-20 pb-10">
                  <div style="font-weight: 600">환불 정책</div>
                  <div>
                    5월 3일 오후 12:00 전에 예약을 취소하면 총 숙박 요금의 50%
                    및 서비스 수수료 전액이 환불됩니다.
                  </div>
                </div>
                <hr />
                <div class="row pt-20 pb-10">
                  <div class="col-md-6 col-sm-12">
                    <button
                            id="reservation-btn"
                            type="submit"
                            class="btn btn-primary btn-block"
                    >
                      <span>호스트에게 연락하기</span>
                    </button>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <button
                            id="reservation-btn"
                            type="submit"
                            class="btn btn-danger btn-block"
                    >
                      <span>예약 취소</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
              <div id="map" style="height:85vh; position:sticky; top:30px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="src/plugins/slick/slick.min.js"></script>
<script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=aa2b69d2598e27e91f88388229304afe&libraries=services,clusterer"></script>
<!--<script th:inline="javascript" type="text/javascript" th:attr="src=${kakaoMapsSource}"></script>-->
<script src="js/reservation-detail.js"></script>
<script>
      jQuery(document).ready(function () {
        jQuery(".product-slider").slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: true,
          infinite: true,
          speed: 1000,
          fade: true,
          asNavFor: ".product-slider-nav",
        });
        jQuery(".product-slider-nav").slick({
          slidesToShow: 3,
          slidesToScroll: 1,
          asNavFor: ".product-slider",
          dots: false,
          infinite: true,
          arrows: false,
          speed: 1000,
          centerMode: true,
          focusOnSelect: true,
        });
      });
    </script>
<!--현재 페이지에서 단독으로 사용할 script파일 링크를 위 라인에 입력, 링크 여러개 입력 가능-->
</body>
</html>