<!DOCTYPE html>
<html th:replace="~{layout/layout-main :: layout(~{::link}, ~{::title}, ~{::section}, ~{::script})}" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title th:text="|${place.region1depth}의 ${place.placeKind} 예약하기|"></title>
    <!--현재 페이지 제목을 위 라인에 입력-->
    <link rel="stylesheet" href="">
    <!--현재 페이지에서 단독으로 사용할 css 파일 링크를 위 라인에 입력, 링크 여러개 입력 가능-->
</head>
<body>
<section>
    <!--현재 페이지 본문 내용을 section내부에 작성-->
    <div class="pd-ltr-20 xs-pd-10-20">
        <div class="min-height-200px">
            <div class="product-wrap">
                <div class="title-info pt-10 pb-20 d-flex">
                    <div>
                        <i
                                class="icon-copy ion-chevron-left pr-30"
                                style="font-size: 1.5rem"
                        ></i>
                    </div>
                    <h2 class="pb-10">확인 및 결제</h2>
                    <!-- 제목 -->
                </div>
                <div class="product-detail-wrap mb-30">
                    <div class="row">
                        <div class="col-lg-7 col-md-12 col-sm-12">
                            <div class="product-detail-desc pd-30 card-box">
                                <div class="pt-20 pb-10">
                                    <div
                                            class="pb-20"
                                            style="font-size: 1.5rem; font-weight: 600"
                                    >
                                        예약정보
                                    </div>
                                    <div
                                            class="d-flex justify-content-between align-items-center pb-20"
                                    >
                                        <div>
                                            <div style="font-weight: 600">날짜</div>
                                            <span th:text="${#temporals.format(reservationData.pickedCheckinDate,'MM월 dd일')}"></span>
                                            <span> ~ </span>
                                            <span th:text="${#temporals.format(reservationData.pickedCheckoutDate,'MM월 dd일')}"></span>
                                        </div>
                                        <div>수정</div>
                                    </div>
                                    <div
                                            class="d-flex justify-content-between align-items-center"
                                    >
                                        <div>
                                            <div style="font-weight: 600">게스트</div>
                                            <div th:text="|게스트 ${reservationData.guestCount}명|">게스트 2명</div>
                                        </div>
                                        <div>수정</div>
                                    </div>
                                </div>
                                <hr />
                                <div class="pt-20 pb-20">
                                    <div
                                            class="pb-20"
                                            style="font-size: 1.5rem; font-weight: 600"
                                    >
                                        결제수단
                                    </div>
                                    <div>
                                        <img
                                                src="/img/payment_icon_yellow_medium.png"
                                                alt="kakaopay-icon"
                                        />
                                    </div>
                                </div>
                                <hr />
                                <div class="pt-20 pb-10">
                                    <div
                                            class="pb-20"
                                            style="font-size: 1.5rem; font-weight: 600"
                                    >
                                        환불 정책
                                    </div>
                                    <div>
                                        <p style="font-weight: 600">
                                            체크인 하루 전까지 무료로 예약을 취소할 수
                                            있습니다.
                                        </p>
                                        <p>
                                            코로나19로 인한 여행 문제에는 정상참작이 가능한 상황
                                            정책이 적용되지 않습니다.
                                        </p>
                                    </div>
                                </div>
                                <hr />
                                <div class="pt-20 pb-20">
                                    <div>
                                        <p style="font-size: 0.7rem">
                                            아래 버튼을 선택하면 호스트가 설정한 숙소 이용규칙,
                                            POPIN 재예약 및 환불 정책에 동의하며, 피해에 대한
                                            책임이 본인에게 있을 경우 POPIN이 결제 수단으로 청구의
                                            조치를 취할 수 있다는 사실에 동의하는 것입니다.
                                        </p>
                                    </div>
                                    <div>
                                        <form th:action th:object="${reservationData}" method="post">
                                            <input type="hidden" th:field="*{guestCount}" readonly>
                                            <input type="hidden" th:field="*{pickedCheckinDate}" readonly>
                                            <input type="hidden" th:field="*{pickedCheckoutDate}" readonly>
                                            <input type="hidden" th:field="*{period}" readonly>
                                            <input type="hidden" th:field="*{totalPrice}" readonly>
                                            <button type="submit" class="btn btn-primary">확인 및 결제</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12 col-sm-12">
                            <div
                                    class="product-detail-desc pd-30 card-box"
                                    style="position: sticky; top: 50px"
                            >
                                <div class="row pt-20 pb-20">
                                    <div class="col-md-5 col-sm-12">
                                        <img
                                                th:src="${thumbnailUrl}"
                                                alt="place-thumbnail"
                                                class="rounded"
                                        />
                                    </div>
                                    <div
                                            class="col-md-7 col-sm-12 d-flex flex-column justify-content-between"
                                    >
                                        <div>
                                            <div th:text="${place.placeKind}" style="font-size: 0.8rem; opacity: 0.8"></div>
                                            <div th:text="${place.name}" style="font-size: 0.7rem"></div>
                                        </div>

                                        <div style="font-size: 0.7rem">
                                            <i class="icon-copy ion-android-star"></i>
                                            <span th:text="${place.rating}">4.89</span>
                                            <span th:text="|(후기 ${place.reviewCount}개)|">(후기 232개)</span>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div>
                                    <div
                                            class="pt-10 pb-20"
                                            style="font-size: 1.5rem; font-weight: 600"
                                    >
                                        요금 세부정보
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span th:text="|₩${place.priceHigh} X ${reservationData.period}박|">₩123,500 x 1박</span>
                                        <span th:text="|₩${reservationData.totalPrice}|">₩123,500</span>
                                    </div>
                                </div>
                                <hr />
                                <div class="d-flex justify-content-between">
                                    <span>총 합계 (KRW)</span>
                                    <span th:text="|₩${reservationData.totalPrice}|">₩123,500</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script></script>
<!--현재 페이지에서 단독으로 사용할 script파일 링크를 위 라인에 입력, 링크 여러개 입력 가능-->
</body>
</html>