<!DOCTYPE html>
<html th:replace="~{layout/layout-main :: layout(~{::link}, ~{::title}, ~{::section}, ~{::script})}" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <title>RESERVATION-DETAIL</title>
  <!--현재 페이지 제목을 위 라인에 입력-->
  <link rel="stylesheet" type="text/css" href="/src/plugins/slick/slick.css" />
  <link rel="stylesheet" href="/css/place-detail.css">
  <!--현재 페이지에서 단독으로 사용할 css 파일 링크를 위 라인에 입력, 링크 여러개 입력 가능-->
</head>
<body>
<section>
  <!--현재 페이지 본문 내용을 section내부에 작성-->
  <div class="pd-ltr-20 xs-pd-10-20" th:object="${reservation}">
    <div class="min-height-200px">
      <div class="product-wrap">
        <div class="product-detail-wrap mb-30">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="product-slider slider-arrow">
                <div class="product-slide d-flex justify-content-center">
                  <img th:src="${thumbnailUrl}" alt="thumbnail_img" style="height:600px; object-fit:cover" class="rounded"/>
                </div>
                <th:block th:each="url : ${imageUrls}">
                  <div class="product-slide d-flex justify-content-center">
                    <img th:src="${url}" alt="place_imgs" style="height:600px; object-fit:cover" class="rounded"/>
                  </div>
                </th:block>
              </div>
              <div class="product-slider-nav">
                <div class="product-slide d-flex justify-content-center">
                  <img th:src="${thumbnailUrl}" alt="thumbnail_img" style="height:150px; object-fit:cover" class="rounded"/>
                </div>
                <th:block th:each="url : ${imageUrls}">
                  <div class="product-slide d-flex justify-content-center">
                    <img th:src="${url}" alt="place_imgs" style="height:150px; object-fit:cover" class="rounded"/>
                  </div>
                </th:block>
              </div>
              <div class="product-detail-desc pd-30 mt-30 card-box">
                <div class="pt-20 pb-10">
                  <div class="d-flex">
                    <div>
                      <img
                              class="rounded"
                              th:src="${profileImage}"
                              alt=""
                              style="width: 60px"
                      />
                    </div>

                    <div class="pl-20">
                      <div style="font-size: 1.5rem; font-weight: 600" th:text="|호스트: *{hostName}|">
                      </div>
                      <span th:text="|회원가입 *{joinDate.getYear()}년 *{joinDate.getMonthValue()}월|"></span>
                    </div>
                  </div>

                  <div class="pt-20">
                    <div style="font-weight: 600">호스트 소개</div>
                    <p th:text="*{introduction}">
                    </p>
                  </div>
                </div>
              </div>

              <div class="product-detail-desc pd-30 mt-30 mb-30 card-box">
                <div
                        class="pt-20"
                        style="font-size: 1.5rem; font-weight: 600"
                >
                  장소 안내
                </div>
                <div class="row pt-20 pb-10">
                  <div class="col-md-6 col-sm-12">
                    <div style="font-weight: 600">체크인</div>
                    <div th:text="|*{checkinDate.getYear()}년 *{checkinDate.getMonthValue()}월 *{checkinDate.getDayOfMonth()}일 (*{checkinDate.getDayOfWeek()})|">2022년 5월 3일 (화)</div>
                    <div th:text="|*{checkinTimeStart}:00|">오후 3:00</div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div style="font-weight: 600">체크아웃</div>
                    <div th:text="|*{checkoutDate.getYear()}년 *{checkoutDate.getMonthValue()}월 *{checkoutDate.getDayOfMonth()}일 (*{checkoutDate.getDayOfWeek()})|">2022년 5월 3일 (화)</div>
                    <div th:text="|*{checkoutTimeStart}:00|">오후 3:00</div>
                  </div>
                </div>
                <hr />
                <div class="pt-20 pb-10">
                  <div style="font-weight: 600">주소</div>
                  <div th:text="*{addressName}"></div>
                </div>
                <hr />
                <div class="pt-20 pb-10">
                  <div style="font-weight: 600">안내 및 주의사항</div>
                  <p th:text="*{description}">
                  </p>
                </div>
              </div>

              <div class="product-detail-desc pd-30 mt-30 mb-30 card-box">
                <div
                        class="pt-20"
                        style="font-size: 1.5rem; font-weight: 600"
                >
                  예약 및 결제 정보
                </div>
                <div class="pt-20 pb-10">
                  <div style="font-weight: 600">게스트</div>
                  <div th:text="|게스트 *{guestCount}명|"></div>
                </div>
                <hr />
                <div class="pt-20 pb-10">
                  <div style="font-weight: 600">예약 번호</div>
                  <div th:text="*{orderId}"></div>
                </div>
                <hr />
                <div class="pt-20 pb-10">
                  <div style="font-weight: 600">총 비용</div>
                  <div th:text="|*{price}원|"></div>
                </div>
                <hr />
                <div class="pt-20 pb-10">
                  <div style="font-weight: 600">환불 정책</div>
                  <div>
                    5월 3일 오후 12:00 전에 예약을 취소하면 총 숙박 요금의 50%
                    및 서비스 수수료 전액이 환불됩니다.
                  </div>
                </div>
                <hr />
                <div class="row pt-20 pb-10">
                  <div class="col-md-6 col-sm-12">
                    <a
                            id="reservation-btn"
                            class="btn btn-primary btn-block"
                            th:href="@{/messages/(hostNo=${place.hostNo})}">
                      <span>호스트에게 연락하기</span>
                    </a>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <button
                            id="reservation-btn"
                            class="btn btn-danger btn-block"
                    >
                      <span>예약 취소</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
              <div id="map" style="height:85vh; position:sticky; top:30px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="/src/plugins/slick/slick.min.js"></script>
<script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=aa2b69d2598e27e91f88388229304afe&libraries=services,clusterer"></script>
<script th:inline="javascript" type="text/javascript" th:attr="src=${kakaoMapsSource}"></script>
<script src="/js/reservation-detail.js"></script>
<script>
      jQuery(document).ready(function () {
        jQuery(".product-slider").slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: true,
          infinite: true,
          speed: 1000,
          fade: true,
          asNavFor: ".product-slider-nav",
        });
        jQuery(".product-slider-nav").slick({
          slidesToShow: 3,
          slidesToScroll: 1,
          asNavFor: ".product-slider",
          dots: false,
          infinite: true,
          arrows: false,
          speed: 1000,
          centerMode: true,
          focusOnSelect: true,
        });
      });
    </script>
<!--현재 페이지에서 단독으로 사용할 script파일 링크를 위 라인에 입력, 링크 여러개 입력 가능-->
</body>
</html>