<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.summer.popin.domain.management.dao.ManagementMapper">
    <select id="getMemberTotalCount" resultType="int">
        select count(*) from member
    </select>
    <select id="getTodayJoinCount" resultType="int">
        select count(*) from member where join_date = sysdate
    </select>

    <select id="getPlaceCountByStatus" parameterType="PlaceStatus" resultType="int">
        select count(*) from place
        <where>
            <if test="status != null">
                and status_code = (select no from place_status where status = #{status})
            </if>
        </where>
    </select>

    <select id="getTodayReservedCount" resultType="int">
        select count(*) from reservation where reservation_date = sysdate
    </select>
    <select id="getBeforeCheckinCount" resultType="int">
        <![CDATA[
            select count(*) from reservation where checkin_date > sysdate
        ]]>
    </select>
    <select id="getNowStayingCount" resultType="int">
        <![CDATA[
            select count(*) from reservation where checkin_date <= sysdate and checkout_date > sysdate
        ]]>
    </select>
    <select id="getMemberClassList" resultType="string">
        select class from member_class
    </select>
    <select id="getPlaceStatusList" resultType="string">
        select status from place_status
    </select>
    <select id="getReservationStatusList" resultType="string">
        select status from reservation_status
    </select>


    <select id="getMemberList" parameterType="Criteria" resultType="ManagementMemberDTO">
        select mr.*
        from
            (
                select rownum rn,
                        m.no, m.name, m.email, m.phone_number, m.join_date,
                        (select class from member_class where no = m.class_code) as member_class
                from
                    (
                        select * from member
                        <where>
                            <if test="className != null and className != ''">
                                and class_code = (select no from member_class where class = #{className})
                            </if>
                            <if test="searchTerm != null and searchTerm != ''">
                                and (name like '%'||#{searchTerm}||'%' or email like '%'||#{searchTerm}||'%')
                            </if>
                        </where>
                    ) m

            ) mr
        <![CDATA[
            where rn > (#{pageNum}-1)*#{amount} and rn <= #{pageNum}*#{amount}
        ]]>
    </select>

    <select id="getMember" resultType="ManagementMemberDTO">
        select no, name, phone_number, join_date,
                (select class from member_class where no = class_code) as member_class
        from member
        where no = #{memberNo}
    </select>

    <select id="getSearchMemberCount" resultType="int">
        select count(*) from member
        <where>
            <if test="className != null and className != ''">
                and class_code = (select no from member_class where class = #{className})
            </if>
            <if test="searchTerm != null and searchTerm != ''">
                and (name like '%'||#{searchTerm}||'%' or email like '%'||#{searchTerm}||'%')
            </if>
        </where>
    </select>

    <delete id="deleteMember">
        delete from member where no = #{memberNo}
    </delete>

    <update id="updateMember">
        update member set (class_code = #{memberClass}) where no = #{memberNo}
    </update>
</mapper>