<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.summer.popin.domain.place.dao.PlaceMapper">

    <select id="findKindMap" resultType="PlaceKindDTO">
        select * from place_kind
    </select>
    <select id="findOneByNo" resultType="PlaceDetailResponseDTO">
        select
            p.name,
            m.name as host_name,
            pk.kind as place_kind,
            p.description,
            p.price_High,
            p.checkin_Time_Start,
            p.checkin_Time_End,
            p.checkout_Time_Start,
            p.checkout_Time_End,
            p.address_Name,
            p.coord_X,
            p.coord_Y,
            p.region_1depth,
            p.region_2depth,
            p.region_3depth,
            p.road_Name,
            p.main_Building_No,
            p.sub_Building_No,
            p.building_Name,
            p.room_Count,
            p.bathroom_Count,
            p.bed_Single,
            p.bed_Double,
            p.bed_Queen,
            p.bed_King,
            p.kitchen,
            p.parking,
            p.wifi,
            p.balcony,
            p.pool,
            p.air_Conditioner,
            p.bathtub,
            p.crib,
            p.tv,
            p.coffee_Machine,
            p.pc,
            p.black_Board,
            p.beam_Project,
            p.balloon,
            p.dining_Table,
            p.lamp,
            p.kitchen_Tools,
            p.rating,
            (select count(*) from review where place_no = p.no) as reviewCount
        from place p
            left outer join member m on (p.host_no = m.no)
            left outer join place_kind pk on (p.place_kind_code = pk.no)
        where p.no = #{placeNo}
    </select>

    <select id="findPlaceListByHostNo" resultType="MyPlaceDTO">
        select
            no as place_no,
            name as place_name,
            status_code as place_status,
            region_1depth,
            region_2depth,
            (select url from url_resource where kind_code=#{resourceKind} and place_no = p.no) as thumbnail_url
        from
            place p
        where
            host_no=#{hostNo}
    </select>

    <insert id="insertOne">
        <selectKey keyProperty="no" resultType="long" order="BEFORE">
            select seq_place.nextval from dual
        </selectKey>
        insert into place
        values(
            #{no},
            #{name},
            #{hostNo},
            #{placeKindCode},
            #{description},
            #{priceLow, jdbcType=INTEGER},
            #{priceMiddle, jdbcType=INTEGER},
            #{priceHigh},
            #{checkinTimeStart},
            #{checkinTimeEnd},
            #{checkoutTimeStart},
            #{checkoutTimeEnd},
            #{addressName},
            #{coordX},
            #{coordY},
            #{region1depth},
            #{region2depth},
            #{region3depth, jdbcType=VARCHAR},
            #{roadName},
            #{mainBuildingNo, jdbcType=VARCHAR},
            #{subBuildingNo, jdbcType=VARCHAR},
            #{buildingName, jdbcType=VARCHAR},
            #{roomCount, jdbcType=INTEGER},
            #{bathroomCount, jdbcType=INTEGER},
            #{bedSingle, jdbcType=INTEGER},
            #{bedDouble, jdbcType=INTEGER},
            #{bedQueen, jdbcType=INTEGER},
            #{bedKing, jdbcType=INTEGER},
            #{kitchen, jdbcType=INTEGER},
            #{parking, jdbcType=INTEGER},
            #{wifi, jdbcType=INTEGER},
            #{balcony, jdbcType=INTEGER},
            #{pool, jdbcType=INTEGER},
            #{airConditioner, jdbcType=INTEGER},
            #{bathtub, jdbcType=INTEGER},
            #{crib, jdbcType=INTEGER},
            #{tv, jdbcType=INTEGER},
            #{coffeeMachine, jdbcType=INTEGER},
            #{pc, jdbcType=INTEGER},
            #{blackBoard, jdbcType=INTEGER},
            #{beamProject, jdbcType=INTEGER},
            #{balloon, jdbcType=INTEGER},
            #{diningTable, jdbcType=INTEGER},
            #{lamp, jdbcType=INTEGER},
            #{kitchenTools, jdbcType=INTEGER},
            #{rating, jdbcType=DOUBLE},
            #{maxGuest},
            #{statusCode, jdbcType=INTEGER}
        )
    </insert>

    <select id="getPlacesCountByHostNo" resultType="int">
        select count(*) from place where host_no=#{hostNo}
    </select>
</mapper>