<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.summer.popin.domain.statistics.dao.StatisticsMapper">
    <select id="showStatisticsByHostNo" parameterType="int" resultType="StatisticsHostVO">
        select
            *
        from
            statistics_host
        where
            HOST_NO = #{hostNo}
    </select>
    <select id="statisticsChart" resultType="StatisticsHostVO">
        <![CDATA[
        select
            distinct host_no, reservation_count_today, reservation_count_total, income_today, income_total, to_char(record_date,'yyMMdd') as record_date
        from
            statistics_host
        where
            host_no=#{hostNo} and to_char(sysdate,'yyMMdd')-to_char(record_date,'yyMMdd') <7
        ]]>
    </select>
</mapper>