<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.summer.popin.global.dao.UrlMapper">

    <select id="findUrlByPlaceNo" resultType="string">

        select
            url
        from
            url_resource
        where
            kind_code =#{resourceKind} and place_no=#{placeNo}
    </select>

    <select id="findUrlByReservationNo" resultType="string">
        select
            url
        from
            url_resource
        where
            kind_code=#{resourceKind} and place_no = (select place_no from reservation where no = #{reservationNo})
    </select>

    <select id="findUrlByMemberNo" resultType="String">
        select
            url
        from
            url_resource
        where
            kind_code=#{resourceKind} and member_no=#{memberNo}
    </select>

</mapper>